@font-face {
    font-family: "Fraunces 9pt S000 Bold";
    src: url(../fonts/fraunces/Fraunces9ptS000Bold/Fraunces\ 9pt\ S000\ Bold.ttf);
}

@font-face {
    font-family: "Barlow";
    src: url(../fonts/barlow/Barlow-Regular.otf);
}
